# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl
*.log

# --- Virtual environment ---
env/
venv/
.venv/

# --- IDE files ---
.vscode/
.idea/
*.code-workspace

# --- OS files ---
.DS_Store
Thumbs.db

# --- Environment variables ---
.env
*.env

# --- Streamlit cache ---
.streamlit/
.streamlit/cache/

# --- PyInstaller ---
*.spec
dist/
build/

# --- Jupyter Notebooks ---
.ipynb_checkpoints/

# --- Other ---
*.sqlite3
*.db
